html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bannerMenu {
    font-family: 'Monotype Corsiva';
    font-size: 30px;
}

.bannerLogo {
    font-family: 'Monotype Corsiva';
    font-size: 50px;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.day-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.welcomeTitle {
    text-align: center;
    font-family: 'Monotype Corsiva';
    font-size: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
    height: 90px;
}

.form {
    border: 3px solid black;
    padding: 30px;
}

.formButton {
    margin-top: 100px;
}

.disabled-day {
    color: #808080; /* Change the color to visually indicate the disabled state */
    cursor: not-allowed;
}

.price-table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.price-table th, .price-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.price-table th {
    background-color: #f2f2f2;
}
.social-media-icons {
    display: flex;
    gap: 40px;
}

.social-icon img {
    width: 50px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}