html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary{
    font-size: x-large;
    background-color:skyblue;
    border-color: black;
    border-width: 2px;
    color: black;
}
.bannerMenu {
    font-family: 'Monotype Corsiva';
    font-size: 30px;
}

.bannerLogo {
    font-family: 'Monotype Corsiva';
    font-size: 50px;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    text-align:center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1; /* Optional: Add a background color for visibility */
    padding: 10px; /* Optional: Add padding for better appearance */
    background-color:skyblue;
}
body {
    margin-bottom: 60px;
    background-image: url('/img/logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.day-button {
    width: 100%;
    height: 100%;
    border: none;
    border-color: skyblue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    background-color: skyblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}
.day-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.welcomeTitle {
    text-align: center;
    font-family: 'Monotype Corsiva';
    font-size: 100px;
    color: black; /* Set the text color to blue */
    text-shadow: 0 0 10px rgba(0, 175, 255, 1); /* Add a blue glowing effect */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
    height: 90px;
    background-color:skyblue;
}


.form {
    border: 3px solid black;
    padding: 30px;
    background-color:skyblue;
}

.formButton {
    margin-top: 100px;
    border-width: 3px;
    border-color: black;
}

.disabled-day {
    color: #808080; /* Change the color to visually indicate the disabled state */
    cursor: not-allowed;
}

.price-table {
    width: 50%;
    margin: auto;
    border: 3px solid black;
    border-collapse: collapse;
    margin-top: 20px;
}

.price-table th, .price-table td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

.price-table th {
    background-color: #f2f2f2;
}
.social-media-icons {
    display: flex;
    gap: 40px;
}

.social-icon img {
    width: 50px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}

.contact-details {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
.containerContactInfo {
    padding: 50px;
    margin-top: 100px;
    border: 3px solid black;
    background-color:skyblue;
}

.opening-hours,
.contact-methods,
.contactAdress{
    width: 20%;
}


.opening-hours h3,
.contact-methods h3 {
    margin-bottom: 10px;
}

.contact-methods a {
    color: #007bff;
}
.centered-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.centered-alert button {
    margin-top: 10px;
}

.navbar-nav > li {
    border-right: 1px solid #ddd; /* Light grey border */
    padding-right: 10px; /* Adjust spacing as needed */
    transition: background-color 0.3s; /* Smooth transition effect */
}

    .navbar-nav > li:hover {
        background-color: skyblue; /* Light grey background on hover */
    }

    .navbar-nav > li:last-child {
        border-right: none; /* Remove border for the last item */
    }
    .avboka{
        background-color: red;
    }
.bokningPersonalPage {
    text-align:center;
    background-color:skyblue;
    border-width:3px;
}
.bookingsAdminPage {
    background-color:skyblue;
}