@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<div class="frontPage">
    <h1 class="welcomeTitle">Välkommen till <strong><i>Fotfager</i></strong></h1>
    <img class="frontPage"src="~/img/foot1.jpg">
    <img class="frontPage" src="~/img/lokal.jpg">
    
</div>

