@page
@model BokningsAppDevOpsCleanCode.Pages.PriceListingsModel

<div class="text-center">
    <h1>Priser</h1>

    <table class="price-table">
        <thead>
            <tr>
                <th>Behandling</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fotmassage</td>
                <td>30 kr</td>
            </tr>
            <tr>
                <td>Peeling</td>
                <td>40 kr</td>
            </tr>
            <tr>
                <td>Nagelvård</td>
                <td>25 kr</td>
            </tr>
            <tr>
                <td>Liktornbehandling</td>
                <td>35 kr</td>
            </tr>
            <tr>
                <td>Medicinsk Fotvård</td>
                <td>50 kr</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .text-center {
        text-align: center;
    }
</style>

